body {
    font-size: 16px;
    font-family: "Times New Roman", sans-serif;
    background-color: bisque;
    color: black;
    margin: 80px auto;
    border: 5px solid black;
    padding: 5px;
}

.div {
    margin: 0 auto;
    padding: 10px right;
    border: 2px solid blue;
    background-color: greenyellow;
    color: plum;
}