body {
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid black;

}

h1 {
    background-color: dimgray;
    color: black;
    padding: 20px;
    border: 3px solid white;
}

.header {
    background-color: white;
    color: brown;
    padding: 10px;
    margin: 0 auto;
}

.para {
    background-color: wheat;
    color: black;
    padding: 5px;
    border: 1px lightcoral;
}